<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Blog博客</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{ if user }}
      <li class="nav-item">
        <a class="nav-link" href="#"
          >Current user(当前用户): {{user.nickname}}</a
        >
      </li>
      <li class="nav-item" id="logout">
        <a class="nav-link" href="javascript:void()">Logout退出</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/user/login">Login登录</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/register">Register注册</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <a class="nav-link" href="/blog/add">Create New Blog 创建新博客</a>
      </li>
    </ul>
  </div>
</nav>
